.group_user_130653,
            .group_user_130653:hover,
            .group_user_130653:focus{
              color: #4a76b2;
              border-color: #4a76b2;
              background-color: #4a76b2;
            }
          
            .group_course_24445,
            .group_course_24445:hover,
            .group_course_24445:focus{
              color: #0076B8;
              border-color: #0076B8;
              background-color: #0076B8;
            }
          
            .group_course_24115,
            .group_course_24115:hover,
            .group_course_24115:focus{
              color: #324A4D;
              border-color: #324A4D;
              background-color: #324A4D;
            }
          
            .group_course_19936,
            .group_course_19936:hover,
            .group_course_19936:focus{
              color: #177B63;
              border-color: #177B63;
              background-color: #177B63;
            }
          
            .group_course_24313,
            .group_course_24313:hover,
            .group_course_24313:focus{
              color: #E1185C;
              border-color: #E1185C;
              background-color: #E1185C;
            }
          
            .group_course_20030,
            .group_course_20030:hover,
            .group_course_20030:focus{
              color: #324A4D;
              border-color: #324A4D;
              background-color: #324A4D;
            }
          
            .group_course_24473,
            .group_course_24473:hover,
            .group_course_24473:focus{
              color: #3C4F36;
              border-color: #3C4F36;
              background-color: #3C4F36;
            }
          
            .group_course_20029,
            .group_course_20029:hover,
            .group_course_20029:focus{
              color: #254284;
              border-color: #254284;
              background-color: #254284;
            }
          
            .group_course_24428,
            .group_course_24428:hover,
            .group_course_24428:focus{
              color: #324A4D;
              border-color: #324A4D;
              background-color: #324A4D;
            }
          
            .group_course_24141,
            .group_course_24141:hover,
            .group_course_24141:focus{
              color: #986C16;
              border-color: #986C16;
              background-color: #986C16;
            }
          
            .group_course_20102,
            .group_course_20102:hover,
            .group_course_20102:focus{
              color: #254284;
              border-color: #254284;
              background-color: #254284;
            }
          
            .group_course_19363,
            .group_course_19363:hover,
            .group_course_19363:focus{
              color: #E1185C;
              border-color: #E1185C;
              background-color: #E1185C;
            }
          
            .group_course_27821,
            .group_course_27821:hover,
            .group_course_27821:focus{
              color: #986C16;
              border-color: #986C16;
              background-color: #986C16;
            }
          
            .group_course_19848,
            .group_course_19848:hover,
            .group_course_19848:focus{
              color: #4D3D4D;
              border-color: #4D3D4D;
              background-color: #4D3D4D;
            }
          
            .group_course_24152,
            .group_course_24152:hover,
            .group_course_24152:focus{
              color: #626E7B;
              border-color: #626E7B;
              background-color: #626E7B;
            }
          
            .group_course_19937,
            .group_course_19937:hover,
            .group_course_19937:focus{
              color: #3C4F36;
              border-color: #3C4F36;
              background-color: #3C4F36;
            }
          
            .group_course_19779,
            .group_course_19779:hover,
            .group_course_19779:focus{
              color: #324A4D;
              border-color: #324A4D;
              background-color: #324A4D;
            }
          
            .group_course_19849,
            .group_course_19849:hover,
            .group_course_19849:focus{
              color: #177B63;
              border-color: #177B63;
              background-color: #177B63;
            }
          
            .group_course_24314,
            .group_course_24314:hover,
            .group_course_24314:focus{
              color: #3C4F36;
              border-color: #3C4F36;
              background-color: #3C4F36;
            }
          
            .group_course_24472,
            .group_course_24472:hover,
            .group_course_24472:focus{
              color: #177B63;
              border-color: #177B63;
              background-color: #177B63;
            }
          
            .group_course_6166,
            .group_course_6166:hover,
            .group_course_6166:focus{
              color: #E1185C;
              border-color: #E1185C;
              background-color: #E1185C;
            }
          
            .group_course_24233,
            .group_course_24233:hover,
            .group_course_24233:focus{
              color: #986C16;
              border-color: #986C16;
              background-color: #986C16;
            }
          
            .group_course_19910,
            .group_course_19910:hover,
            .group_course_19910:focus{
              color: #E1185C;
              border-color: #E1185C;
              background-color: #E1185C;
            }
          
            .group_course_24157,
            .group_course_24157:hover,
            .group_course_24157:focus{
              color: #E1185C;
              border-color: #E1185C;
              background-color: #E1185C;
            }
          
            .group_course_10036,
            .group_course_10036:hover,
            .group_course_10036:focus{
              color: #626E7B;
              border-color: #626E7B;
              background-color: #626E7B;
            }
          
            .group_course_14320,
            .group_course_14320:hover,
            .group_course_14320:focus{
              color: #4f8045;
              border-color: #4f8045;
              background-color: #4f8045;
            }
          
            .group_course_3381,
            .group_course_3381:hover,
            .group_course_3381:focus{
              color: #177B63;
              border-color: #177B63;
              background-color: #177B63;
            }
          
            .group_course_3385,
            .group_course_3385:hover,
            .group_course_3385:focus{
              color: #254284;
              border-color: #254284;
              background-color: #254284;
            }
          
            .group_group_166085,
            .group_group_166085:hover,
            .group_group_166085:focus{
              color: #2f826a;
              border-color: #2f826a;
              background-color: #2f826a;
            }
          
            .group_group_166078,
            .group_group_166078:hover,
            .group_group_166078:focus{
              color: #cb4740;
              border-color: #cb4740;
              background-color: #cb4740;
            }
          
            .group_group_176155,
            .group_group_176155:hover,
            .group_group_176155:focus{
              color: #b84c96;
              border-color: #b84c96;
              background-color: #b84c96;
            }
          
            .group_group_191117,
            .group_group_191117:hover,
            .group_group_191117:focus{
              color: #1f7e9b;
              border-color: #1f7e9b;
              background-color: #1f7e9b;
            }
          
            .group_group_185831,
            .group_group_185831:hover,
            .group_group_185831:focus{
              color: #238180;
              border-color: #238180;
              background-color: #238180;
            }
          
            .group_group_176094,
            .group_group_176094:hover,
            .group_group_176094:focus{
              color: #1d8185;
              border-color: #1d8185;
              background-color: #1d8185;
            }
          
            .group_group_180579,
            .group_group_180579:hover,
            .group_group_180579:focus{
              color: #ac6211;
              border-color: #ac6211;
              background-color: #ac6211;
            }
          
            .group_group_205061,
            .group_group_205061:hover,
            .group_group_205061:focus{
              color: rgb(75,129,76);
              border-color: rgb(75,129,76);
              background-color: rgb(75,129,76);
            }
          
            .group_group_197092,
            .group_group_197092:hover,
            .group_group_197092:focus{
              color: rgb(205,62,110);
              border-color: rgb(205,62,110);
              background-color: rgb(205,62,110);
            }
          
            .group_group_196892,
            .group_group_196892:hover,
            .group_group_196892:focus{
              color: #ad53a0;
              border-color: #ad53a0;
              background-color: #ad53a0;
            }
          
            .group_group_206783,
            .group_group_206783:hover,
            .group_group_206783:focus{
              color: rgb(139,114,12);
              border-color: rgb(139,114,12);
              background-color: rgb(139,114,12);
            }
          
            .group_group_188953,
            .group_group_188953:hover,
            .group_group_188953:focus{
              color: rgb(140,99,177);
              border-color: rgb(140,99,177);
              background-color: rgb(140,99,177);
            }
          
            .group_group_189008,
            .group_group_189008:hover,
            .group_group_189008:focus{
              color: rgb(44,130,111);
              border-color: rgb(44,130,111);
              background-color: rgb(44,130,111);
            }
          
            .group_group_201931,
            .group_group_201931:hover,
            .group_group_201931:focus{
              color: rgb(200,74,56);
              border-color: rgb(200,74,56);
              background-color: rgb(200,74,56);
            }
          
            .group_group_209652,
            .group_group_209652:hover,
            .group_group_209652:focus{
              color: #317aac;
              border-color: #317aac;
              background-color: #317aac;
            }
          
            .group_group_211712,
            .group_group_211712:hover,
            .group_group_211712:focus{
              color: rgb(97,126,50);
              border-color: rgb(97,126,50);
              background-color: rgb(97,126,50);
            }
          
            .group_group_208761,
            .group_group_208761:hover,
            .group_group_208761:focus{
              color: rgb(190,72,142);
              border-color: rgb(190,72,142);
              background-color: rgb(190,72,142);
            }
          
            .group_group_217210,
            .group_group_217210:hover,
            .group_group_217210:focus{
              color: rgb(26,129,137);
              border-color: rgb(26,129,137);
              background-color: rgb(26,129,137);
            }
          
            .group_group_227405,
            .group_group_227405:hover,
            .group_group_227405:focus{
              color: #a6660c;
              border-color: #a6660c;
              background-color: #a6660c;
            }
          
            .group_group_217123,
            .group_group_217123:hover,
            .group_group_217123:focus{
              color: rgb(103,111,182);
              border-color: rgb(103,111,182);
              background-color: rgb(103,111,182);
            }
          
            .group_group_221231,
            .group_group_221231:hover,
            .group_group_221231:focus{
              color: rgb(61,130,91);
              border-color: rgb(61,130,91);
              background-color: rgb(61,130,91);
            }
          
            .group_group_230640,
            .group_group_230640:hover,
            .group_group_230640:focus{
              color: #d03e59;
              border-color: #d03e59;
              background-color: #d03e59;
            }
          
            .group_group_237209,
            .group_group_237209:hover,
            .group_group_237209:focus{
              color: #1f7e9f;
              border-color: #1f7e9f;
              background-color: #1f7e9f;
            }
          
            .group_group_242690,
            .group_group_242690:hover,
            .group_group_242690:focus{
              color: #7b7819;
              border-color: #7b7819;
              background-color: #7b7819;
            }
          
            .group_group_233904,
            .group_group_233904:hover,
            .group_group_233904:focus{
              color: rgb(162,89,167);
              border-color: rgb(162,89,167);
              background-color: rgb(162,89,167);
            }
          
            .group_group_231082,
            .group_group_231082:hover,
            .group_group_231082:focus{
              color: #617e32;
              border-color: #617e32;
              background-color: #617e32;
            }
          
            .group_group_239388,
            .group_group_239388:hover,
            .group_group_239388:focus{
              color: #bd5625;
              border-color: #bd5625;
              background-color: #bd5625;
            }
          
            .group_group_239395,
            .group_group_239395:hover,
            .group_group_239395:focus{
              color: rgb(67,119,178);
              border-color: rgb(67,119,178);
              background-color: rgb(67,119,178);
            }
          
            .group_group_245270,
            .group_group_245270:hover,
            .group_group_245270:focus{
              color: rgb(82,128,67);
              border-color: rgb(82,128,67);
              background-color: rgb(82,128,67);
            }
          
            .group_group_245492,
            .group_group_245492:hover,
            .group_group_245492:focus{
              color: #c9417c;
              border-color: #c9417c;
              background-color: #c9417c;
            }
